In [16]:
# DataScienceEcoSystem

In [17]:
# H1 "Data Science Tools and Ecosystem"

In [18]:
## H2 "Author: Hyeongyu Bae"

In [19]:
In this notebook, Data Science Tools and Ecosystem are summarized.

SyntaxError: invalid syntax (356759017.py, line 1)

In [20]:
Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. Java

SyntaxError: invalid syntax (2611569324.py, line 1)

In [21]:
Some of the commonly used libraries used by Data Scientists include
1. Tensorflow
2. Numpy
3. Pandas

SyntaxError: invalid syntax (915878246.py, line 1)

In [24]:
Data Science Tools: 
1. Zepplin 
2. Jupyter Notebooks
3. RStudio

SyntaxError: invalid syntax (1138736739.py, line 1)

In [25]:
Below are a few examples of evaluating arithmetic expressions in Python

SyntaxError: invalid syntax (2796362349.py, line 1)

In [14]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

In [13]:
Objectives: 
Add comments to code cells
Create marketdown cells
Add ordered and unordered lists to markdown cells

SyntaxError: invalid syntax (2222851409.py, line 2)