In [3]:
# H1 "Data Science Tools and Ecosystem"

In [ ]:
## H2 "Author: Hyeongyu Bae"

In [1]:
"In this notebook, Data Science Tools and Ecosystem are summarized."

In [2]:
"Some of the popular languages that Data Scientists use are: python, R, SQL"

In [3]:
"Some of the commonly used libraries used by Data Scientists include: Tensorflow, Numpy, Pandas"

In [4]:
"Data Science Tools: GitHub, Jupyter Notebooks, and RStudio IDE"

In [ ]:
"Below are a few examples of evaluating arithmetic expressions in Python"

In [2]:
(3*4)+5

17

In [4]:
"This a simple arithmetic expression to mutiply then add integers"

'This a simple arithmetic expression to mutiply then add integers'

In [10]:
Convert 200 minutes to hours

SyntaxError: invalid syntax (2198467547.py, line 1)

In [7]:
"This will convert 200 minutes to hours by diving by 60"

'This will convert 200 minutes to hours by diving by 60'

In [ ]:
Objectives:

In [ ]:
List popular languages for Data Science: Python, R, SQL